*{
    margin: auto;
    padding: auto;
}
.stulogin{
      /* text-align: center; */
      position: absolute;

      max-width: 80%;
      padding: 110px;
      margin: 20px;
      color: azure;
}
h2{
  
    font-size: 35px;
    padding: 55px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
input[type="text"],
input[type="password"]{
   /* display: block;
 margin: 10px;
 margin-left: 35%;
 margin-right: 35%;
 padding-top: 10px;
 border: none;
 outline: none;
 background-color: transparent;
 text-decoration: underline; */

 width: 100%;
 color: #FFF;
 background: transparent;
 border: none;
 outline: none;
 text-decoration: underline;

/* border: 2% solid;
border-radius: 15%; */


}
.back_image{
   width: 100%;
   height:120%;
   margin-top: -20px;
   position: absolute;
   z-index: -2;
   opacity: .9;
}
.back_image2{
   margin-top: 5%;
   margin-left: 33%;
   width: 35%;
   height:85%;
   position: absolute;
   z-index: -1;
   opacity: .3;

}
.btn{
   color:white;
   background-color: transparent;
   margin: 1px 5px;
   border: 2px solid;
   border-radius: 6px;
   padding: 10px;
   cursor: pointer;
}
.btn:hover{
   background-color:rgba(27, 99, 206, 0.897);
}
small{
    color: rgb(238, 230, 230);
   text-decoration: underline;
   margin: 25px;
   margin-left: 120px;
}
small:hover{
    color: rgb(184, 5, 5);
    cursor:pointer;
    
}
span{
   color: red;
}
  
 



